/JuegoAsistencia/nbproject/private/
/Juego/nbproject/private/
/Juego/build/
/JuegoAsistencia/build/
/v26.sistemaAsistencia/build/
/v26.sistemaAsistencia/nbproject/private/
/v26.BusquedaBinaria/nbproject/private/
/v26.BusquedaBinaria/build/
/TallerDeConceptos/nbproject/private/
/Ordenamiento_Organizado/nbproject/private/
/v26.Listas_Enlazadas/nbproject/private/
/v26.Listas_Enlazadas/build/
